<main>
    <h1>Browser</h1>

    <form action="/" method="get">
        <input type="text" class="search" name="search" value="{{search}}" placeholder="Search...">
        <input type="number" min="1" value="{{from}}" name="from" class="difficulty"
            title="Must be a number between 1 and 6" placeholder="Difficulty from...">
        <span>-</span>
        <input type="number" max="6" value="{{to}}" name="to" class="difficulty"
            title="Must be a number between 1 and 6" placeholder="Difficulty to...">

        <input type="submit" value="search">
    </form>
    <section class="cubes-list">
        {{#each cubes}}
            {{> cube}}
        {{else}}
            <h2>There aren't any cubes yet!</h2>
        {{/each}}
    </section>
</main>